p {
  font-size: 700px;
}

.car-sprite {
  color: red;
  background-color: red;
  width: 100%;
  height: 100%;
  z-index: 9999;

}
/* 
@keyframes car-sprite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
